We will cover:
1. Pyspark Dataframe
2. Reading the dataset
3. Checking data type of Column(Schema)
4. Selecting column and Indexing
5. Check Describe option similar to Panda
6. Dropping Column
7. Adding column

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Dataframe_Practice").getOrCreate()
spark

In [3]:
df_pyspark = spark.read.csv(r"C:\Users\bhupe\OneDrive\Desktop\Portfolio Project\SQL Project\Interview Prep\emp1.csv", header = True, inferSchema= True)
df_pyspark.show()

+------+-------+----+-------+---+---+
|emp_id|   name|dept|salary |age|sex|
+------+-------+----+-------+---+---+
|     1|  argha|sale|  10000| 25|  M|
|     2|  sohag|tech|  20000| 25|  M|
|     7|  soura|tech|  30000| 25|  M|
|     4| shivam|tech|  10000| 26|  F|
|     5|  lohit|  hr|  40000| 26|  F|
|     6|prakash|  hr|  50000| 26|  M|
|     8|sourabh|tech|  60000| 24|  F|
|    10|  biswa|sale|  50000| 27|  M|
|     7|  soura|tech|  30000| 25|  M|
|     6|prakash|  hr|  50000| 26|  M|
|     4| shivam|tech|  10000| 26|  F|
+------+-------+----+-------+---+---+

In [4]:
df_pyspark.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary : integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- sex: string (nullable = true)

In [5]:
df_pyspark = spark.read.option("header","true").csv(r"C:\Users\bhupe\OneDrive\Desktop\Portfolio Project\SQL Project\Interview Prep\emp1.csv", inferSchema = True)
df_pyspark.show()

+------+-------+----+-------+---+---+
|emp_id|   name|dept|salary |age|sex|
+------+-------+----+-------+---+---+
|     1|  argha|sale|  10000| 25|  M|
|     2|  sohag|tech|  20000| 25|  M|
|     7|  soura|tech|  30000| 25|  M|
|     4| shivam|tech|  10000| 26|  F|
|     5|  lohit|  hr|  40000| 26|  F|
|     6|prakash|  hr|  50000| 26|  M|
|     8|sourabh|tech|  60000| 24|  F|
|    10|  biswa|sale|  50000| 27|  M|
|     7|  soura|tech|  30000| 25|  M|
|     6|prakash|  hr|  50000| 26|  M|
|     4| shivam|tech|  10000| 26|  F|
+------+-------+----+-------+---+---+

In [6]:
df_pyspark.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary : integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- sex: string (nullable = true)

In [7]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [8]:
df_pyspark.columns

['emp_id', 'name', 'dept', 'salary ', 'age', 'sex']

In [9]:
df_pyspark.head(3)

[Row(emp_id=1, name='argha', dept='sale', salary =10000, age=25, sex='M'),
 Row(emp_id=2, name='sohag', dept='tech', salary =20000, age=25, sex='M'),
 Row(emp_id=7, name='soura', dept='tech', salary =30000, age=25, sex='M')]

In [10]:
df_pyspark.select("name").show()

+-------+
|   name|
+-------+
|  argha|
|  sohag|
|  soura|
| shivam|
|  lohit|
|prakash|
|sourabh|
|  biswa|
|  soura|
|prakash|
| shivam|
+-------+

In [11]:
df_pyspark.select(["name","age"])

DataFrame[name: string, age: int]

In [12]:
df_pyspark.dtypes

[('emp_id', 'int'),
 ('name', 'string'),
 ('dept', 'string'),
 ('salary ', 'int'),
 ('age', 'int'),
 ('sex', 'string')]

In [13]:
df_pyspark.describe().show()

+-------+-----------------+-------+----+------------------+------------------+----+
|summary|           emp_id|   name|dept|           salary |               age| sex|
+-------+-----------------+-------+----+------------------+------------------+----+
|  count|               11|     11|  11|                11|                11|  11|
|   mean|5.454545454545454|   null|null|32727.272727272728|25.545454545454547|null|
| stddev|2.621588692515909|   null|null|18488.325554743507|0.8201995322647249|null|
|    min|                1|  argha|  hr|             10000|                24|   F|
|    max|               10|sourabh|tech|             60000|                27|   M|
+-------+-----------------+-------+----+------------------+------------------+----+

In [14]:
df_pyspark.columns

['emp_id', 'name', 'dept', 'salary ', 'age', 'sex']

In [15]:
df_pyspark.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary : integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- sex: string (nullable = true)

In [16]:
### Adding Column
df_pyspark = df_pyspark.withColumn("New Salary", df_pyspark["salary "] * 1.3)

In [17]:
df_pyspark.show()

+------+-------+----+-------+---+---+----------+
|emp_id|   name|dept|salary |age|sex|New Salary|
+------+-------+----+-------+---+---+----------+
|     1|  argha|sale|  10000| 25|  M|   13000.0|
|     2|  sohag|tech|  20000| 25|  M|   26000.0|
|     7|  soura|tech|  30000| 25|  M|   39000.0|
|     4| shivam|tech|  10000| 26|  F|   13000.0|
|     5|  lohit|  hr|  40000| 26|  F|   52000.0|
|     6|prakash|  hr|  50000| 26|  M|   65000.0|
|     8|sourabh|tech|  60000| 24|  F|   78000.0|
|    10|  biswa|sale|  50000| 27|  M|   65000.0|
|     7|  soura|tech|  30000| 25|  M|   39000.0|
|     6|prakash|  hr|  50000| 26|  M|   65000.0|
|     4| shivam|tech|  10000| 26|  F|   13000.0|
+------+-------+----+-------+---+---+----------+

In [18]:
### drop columns
df_pyspark = df_pyspark.drop("New Salary")
df_pyspark.show()

+------+-------+----+-------+---+---+
|emp_id|   name|dept|salary |age|sex|
+------+-------+----+-------+---+---+
|     1|  argha|sale|  10000| 25|  M|
|     2|  sohag|tech|  20000| 25|  M|
|     7|  soura|tech|  30000| 25|  M|
|     4| shivam|tech|  10000| 26|  F|
|     5|  lohit|  hr|  40000| 26|  F|
|     6|prakash|  hr|  50000| 26|  M|
|     8|sourabh|tech|  60000| 24|  F|
|    10|  biswa|sale|  50000| 27|  M|
|     7|  soura|tech|  30000| 25|  M|
|     6|prakash|  hr|  50000| 26|  M|
|     4| shivam|tech|  10000| 26|  F|
+------+-------+----+-------+---+---+

In [19]:
### rename column
df_pyspark = df_pyspark.withColumnRenamed("name", "New_Name")
df_pyspark.show()

+------+--------+----+-------+---+---+
|emp_id|New_Name|dept|salary |age|sex|
+------+--------+----+-------+---+---+
|     1|   argha|sale|  10000| 25|  M|
|     2|   sohag|tech|  20000| 25|  M|
|     7|   soura|tech|  30000| 25|  M|
|     4|  shivam|tech|  10000| 26|  F|
|     5|   lohit|  hr|  40000| 26|  F|
|     6| prakash|  hr|  50000| 26|  M|
|     8| sourabh|tech|  60000| 24|  F|
|    10|   biswa|sale|  50000| 27|  M|
|     7|   soura|tech|  30000| 25|  M|
|     6| prakash|  hr|  50000| 26|  M|
|     4|  shivam|tech|  10000| 26|  F|
+------+--------+----+-------+---+---+

In [21]:
df_pyspark.show()

+------+--------+----+-------+---+---+
|emp_id|New_Name|dept|salary |age|sex|
+------+--------+----+-------+---+---+
|     1|   argha|sale|  10000| 25|  M|
|     2|   sohag|tech|  20000| 25|  M|
|     7|   soura|tech|  30000| 25|  M|
|     4|  shivam|tech|  10000| 26|  F|
|     5|   lohit|  hr|  40000| 26|  F|
|     6| prakash|  hr|  50000| 26|  M|
|     8| sourabh|tech|  60000| 24|  F|
|    10|   biswa|sale|  50000| 27|  M|
|     7|   soura|tech|  30000| 25|  M|
|     6| prakash|  hr|  50000| 26|  M|
|     4|  shivam|tech|  10000| 26|  F|
+------+--------+----+-------+---+---+