In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("dataframe").getOrCreate()
spark

In [22]:
df = spark.read.csv(r"C:\Users\bhupe\OneDrive\Desktop\Portfolio Project\SQL Project\Interview Prep\emp1.csv", header= True, inferSchema = True)
df.show()

+------+-------+----+-------+---+---+
|emp_id|   name|dept|salary |age|sex|
+------+-------+----+-------+---+---+
|     1|  argha|sale|  10000| 25|  M|
|     2|  sohag|tech|  20000| 25|  M|
|     7|  soura|tech|  30000| 25|  M|
|     4| shivam|tech|  10000| 26|  F|
|     5|  lohit|  hr|  40000| 26|  F|
|     6|prakash|  hr|  50000| 26|  M|
|     8|sourabh|tech|  60000| 24|  F|
|    10|  biswa|sale|  50000| 27|  M|
|     7|  soura|tech|  30000| 25|  M|
|     6|prakash|  hr|  50000| 26|  M|
|     4| shivam|tech|  10000| 26|  F|
+------+-------+----+-------+---+---+

In [25]:
df = df.withColumnRenamed("salary ", "salary")
df.columns

['emp_id', 'name', 'dept', 'salary', 'age', 'sex']

In [26]:
df[df["age"]>= 26].show()

+------+-------+----+------+---+---+
|emp_id|   name|dept|salary|age|sex|
+------+-------+----+------+---+---+
|     4| shivam|tech| 10000| 26|  F|
|     5|  lohit|  hr| 40000| 26|  F|
|     6|prakash|  hr| 50000| 26|  M|
|    10|  biswa|sale| 50000| 27|  M|
|     6|prakash|  hr| 50000| 26|  M|
|     4| shivam|tech| 10000| 26|  F|
+------+-------+----+------+---+---+

In [27]:
df.filter("salary>= 20000").show()

+------+-------+----+------+---+---+
|emp_id|   name|dept|salary|age|sex|
+------+-------+----+------+---+---+
|     2|  sohag|tech| 20000| 25|  M|
|     7|  soura|tech| 30000| 25|  M|
|     5|  lohit|  hr| 40000| 26|  F|
|     6|prakash|  hr| 50000| 26|  M|
|     8|sourabh|tech| 60000| 24|  F|
|    10|  biswa|sale| 50000| 27|  M|
|     7|  soura|tech| 30000| 25|  M|
|     6|prakash|  hr| 50000| 26|  M|
+------+-------+----+------+---+---+

In [28]:
df.filter("salary>= 20000").select(["name","dept"]).show()

+-------+----+
|   name|dept|
+-------+----+
|  sohag|tech|
|  soura|tech|
|  lohit|  hr|
|prakash|  hr|
|sourabh|tech|
|  biswa|sale|
|  soura|tech|
|prakash|  hr|
+-------+----+

In [32]:
df.filter((df["salary"] >=20000) & (df["salary"]<= 35000)).show()

+------+-----+----+------+---+---+
|emp_id| name|dept|salary|age|sex|
+------+-----+----+------+---+---+
|     2|sohag|tech| 20000| 25|  M|
|     7|soura|tech| 30000| 25|  M|
|     7|soura|tech| 30000| 25|  M|
+------+-----+----+------+---+---+

In [33]:
df.filter((df["salary"] >=20000) | (df["salary"]<= 35000)).show()

+------+-------+----+------+---+---+
|emp_id|   name|dept|salary|age|sex|
+------+-------+----+------+---+---+
|     1|  argha|sale| 10000| 25|  M|
|     2|  sohag|tech| 20000| 25|  M|
|     7|  soura|tech| 30000| 25|  M|
|     4| shivam|tech| 10000| 26|  F|
|     5|  lohit|  hr| 40000| 26|  F|
|     6|prakash|  hr| 50000| 26|  M|
|     8|sourabh|tech| 60000| 24|  F|
|    10|  biswa|sale| 50000| 27|  M|
|     7|  soura|tech| 30000| 25|  M|
|     6|prakash|  hr| 50000| 26|  M|
|     4| shivam|tech| 10000| 26|  F|
+------+-------+----+------+---+---+

In [37]:
df.filter( ~(df["salary"] >= 30000)).show()

+------+------+----+------+---+---+
|emp_id|  name|dept|salary|age|sex|
+------+------+----+------+---+---+
|     1| argha|sale| 10000| 25|  M|
|     2| sohag|tech| 20000| 25|  M|
|     4|shivam|tech| 10000| 26|  F|
|     4|shivam|tech| 10000| 26|  F|
+------+------+----+------+---+---+

In [39]:
df.filter(df["salary"] >=20000).show()

+------+-------+----+------+---+---+
|emp_id|   name|dept|salary|age|sex|
+------+-------+----+------+---+---+
|     2|  sohag|tech| 20000| 25|  M|
|     7|  soura|tech| 30000| 25|  M|
|     5|  lohit|  hr| 40000| 26|  F|
|     6|prakash|  hr| 50000| 26|  M|
|     8|sourabh|tech| 60000| 24|  F|
|    10|  biswa|sale| 50000| 27|  M|
|     7|  soura|tech| 30000| 25|  M|
|     6|prakash|  hr| 50000| 26|  M|
+------+-------+----+------+---+---+

#  Groupby & Aggregate Functions

In [47]:
df.groupby("dept").

+----+-----------+-----------+--------+
|dept|sum(emp_id)|sum(salary)|sum(age)|
+----+-----------+-----------+--------+
|  hr|         17|     140000|      78|
|sale|         11|      60000|      52|
|tech|         32|     160000|     151|
+----+-----------+-----------+--------+

In [50]:
df.groupby("dept").max().show()

+----+-----------+-----------+--------+
|dept|max(emp_id)|max(salary)|max(age)|
+----+-----------+-----------+--------+
|  hr|          6|      50000|      26|
|sale|         10|      50000|      27|
|tech|          8|      60000|      26|
+----+-----------+-----------+--------+

In [52]:
df.groupby("dept").count().show()

+----+-----+
|dept|count|
+----+-----+
|  hr|    3|
|sale|    2|
|tech|    6|
+----+-----+

In [58]:
df.agg({"salary": "sum"}).show()

+-----------+
|sum(salary)|
+-----------+
|     360000|
+-----------+

In [45]:
df.show()

+------+-------+----+------+---+---+
|emp_id|   name|dept|salary|age|sex|
+------+-------+----+------+---+---+
|     1|  argha|sale| 10000| 25|  M|
|     2|  sohag|tech| 20000| 25|  M|
|     7|  soura|tech| 30000| 25|  M|
|     4| shivam|tech| 10000| 26|  F|
|     5|  lohit|  hr| 40000| 26|  F|
|     6|prakash|  hr| 50000| 26|  M|
|     8|sourabh|tech| 60000| 24|  F|
|    10|  biswa|sale| 50000| 27|  M|
|     7|  soura|tech| 30000| 25|  M|
|     6|prakash|  hr| 50000| 26|  M|
|     4| shivam|tech| 10000| 26|  F|
+------+-------+----+------+---+---+

In [64]:
df.groupby("dept").max().show()

+----+-----------+-----------+--------+
|dept|max(emp_id)|max(salary)|max(age)|
+----+-----------+-----------+--------+
|  hr|          6|      50000|      26|
|sale|         10|      50000|      27|
|tech|          8|      60000|      26|
+----+-----------+-----------+--------+

# Drop Duplicates

In [66]:
df.drop_duplicates(subset=["name", "dept"]).show()

+------+-------+----+------+---+---+
|emp_id|   name|dept|salary|age|sex|
+------+-------+----+------+---+---+
|     1|  argha|sale| 10000| 25|  M|
|    10|  biswa|sale| 50000| 27|  M|
|     5|  lohit|  hr| 40000| 26|  F|
|     6|prakash|  hr| 50000| 26|  M|
|     4| shivam|tech| 10000| 26|  F|
|     2|  sohag|tech| 20000| 25|  M|
|     7|  soura|tech| 30000| 25|  M|
|     8|sourabh|tech| 60000| 24|  F|
+------+-------+----+------+---+---+

In [68]:
df.distinct().show()

+------+-------+----+------+---+---+
|emp_id|   name|dept|salary|age|sex|
+------+-------+----+------+---+---+
|     7|  soura|tech| 30000| 25|  M|
|     2|  sohag|tech| 20000| 25|  M|
|     1|  argha|sale| 10000| 25|  M|
|    10|  biswa|sale| 50000| 27|  M|
|     5|  lohit|  hr| 40000| 26|  F|
|     4| shivam|tech| 10000| 26|  F|
|     8|sourabh|tech| 60000| 24|  F|
|     6|prakash|  hr| 50000| 26|  M|
+------+-------+----+------+---+---+

In [71]:
df.count()

11